<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
<!--       <class name="com.obsqura.TestNGAssignments.BrowserCommands"/> -->

      <!-- <class name="com.obsqura.TestNGAssignments.LocatorsExample">
      <methods>
      		<include name= "locateUsingXPathID"/>
      		<include name= "locateXPathClassName"/>
      		<include name= "locateXPathName"/>
      		<include name= "locateCSSSelectorClass"/>
      </methods>
      </class> -->
<!--       <class name="com.obsqura.TestNGAssignments.ExecutionSpeed"/> -->
<!--       <class name="com.obsqura.TestNGAssignments.WebElementCommands"/> -->
<!--       <class name="com.obsqura.TestNGAssignments.WebElementsCSSSample"/> -->
<!--       <class name = "com.obsqura.TestNGAssignments.FormSubmit"/> -->
<!--       <class name = "com.obsqura.TestNGAssignments.AnnotationSample"/> -->
      <!-- <class name = "com.obsqura.TestNGAssignments.RadioButtonSample"/> -->
<!--       <class name = "com.obsqura.TestNGAssignments.SelectDropDownOption"/> -->
      <class name = "com.obsqura.TestNGAssignments.CheckBoxTutorialSite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
